// COLORS

$color-primary: #ff675f
$color-primary-dark: #e5222c

$color-black: #0f1115

$color-white: #ffffff
$color-white-dark: #fbfbfb

$color-gray-light-1: #e3e3e3
$color-gray-light-2: #e7e7e7
$color-gray: #A5A5A5
$color-gray-dark: #777

$color-green: #87c540

// FONT

$font-size-default: 1.6rem