.airport-form
  margin: 3rem auto
  max-width: 490px
  position: relative

  .react-autosuggest

    &__container
      text-align: left

    &__suggestions-container
      right: 95px

  .form-control
    width: 100%

  .btn-primary
    position: relative
    top: 1.5rem
    left: 1rem

  .alert
    text-align: left

// Responsiveness

@media (max-width: 767px)
  .airport-form

    .form-group
      margin-bottom: 1.5rem

      label
        margin-bottom: 1.5rem

    .form-control
      margin-right: 0!important
      margin-bottom: 1.5rem
      width: 100%!important

    .btn-primary
      width: 100%
      top: 0!important
      left: 0!important

    .react-autosuggest__suggestions-container
      right: 0
