.auth-form
  margin: 8rem auto 0
  max-width: 400px
  min-height: calc(100vh - 194px - 11rem)

  &__title-wrap
    display: flex
    align-items: center
    justify-content: space-between

    .link
      font-size: $font-size-default
      margin-bottom: 3rem

  &__title
    font-size: 3rem
    font-weight: 700
    margin-bottom: 3rem

  .auth-text
    margin-top: 3rem
    font-size: $font-size-default
    color: $color-black

  &--reset-password

    .form-group
      margin-bottom: 3rem

  &--profile
    text-align: left

.has-error input
  border-color: $color-primary!important

// Responsiveness

@media (max-width: 767px)
  .auth-form
    margin: 0 auto 8rem auto!important
    min-height: 0