.btn-primary
  background-image: linear-gradient(to bottom, #ff675f, #e52828 98%)
  box-shadow: 0 1px 1px 0 rgba(43, 26, 24, 0.1), inset 0 2px 0 0 rgba(255, 255, 255, 0.08)
  border-color: $color-primary
  border-radius: $border-radius-default
  color: $color-white!important
  outline: none!important
  font-family: 'Roboto', sans-serif
  font-size: $font-size-default
  font-weight: 500
  line-height: 1.57
  text-transform: capitalize
  padding: 1rem 2.5rem!important
  transition: all .3s

  &:hover, &:focus, &:active
    background-image: linear-gradient(to bottom, #ff675f, #e52828 78%)
    box-shadow: 0 1px 1px 0 rgba(43, 26, 24, 0.1), inset 0 2px 0 0 rgba(255, 255, 255, 0.08)
    border-color: $color-primary!important
    color: $color-white!important

  &--outline
    background-image: none
    background-color: $color-white
    color: $color-primary!important

  &--big
    padding: 1rem 4em!important

.text-under-btn
  color: $color-gray
  margin-top: 1.5rem

  .link
    margin-left: .5rem