.custom-input
  margin-right: 15px
  border-color: $color-gray
  outline: none!important
  box-shadow: none!important
  height: 42px
  color: $color-black
  font-size: $font-size-default

  &.form-control
    width: 100%

  &:focus
    border-color: $color-primary