.backdrop
  width: 100%
  height: 100%
  position: fixed
  top: 0
  left: 0
  z-index: 100
  background-color: rgba($color-black, .5)

.custom-modal
  position: fixed
  top: 0
  left: 0
  right: 0
  width: 100%
  height: 100%
  z-index: 100
  transition: transform 1s
  padding: 15px

  &__content
    position: relative
    padding: 15px 20px
    background-color: $color-white
    border: 1px solid $color-gray-light-1
    border-radius: 6px
    box-shadow: 0 5rem 20rem rgba($color-black, .5)
    max-width: 780px
    margin: 5% auto 0

    &__close-icon
      position: absolute
      top: 15px
      right: 15px

      &:hover
        cursor: pointer

    &__close-link
      font-family: 'Roboto', sans-serif
      font-size: 12px
      font-weight: 500
      display: block
      margin: 3rem auto 2rem auto
      cursor: pointer
      text-align: center

    &__text
      font-family: 'Roboto', sans-serif
      font-size: 14px
      font-weight: 400
      max-width: 620px
      margin: 0 auto
      p
        font-size: $font-size-default
        line-height: 2.4rem
        color: $color-black
        text-align: center
        margin-bottom: 3rem

    .heading-secondary
      margin: 2rem 0

// Responsiveness

@media (max-width: 767px)
  .heading-secondary
    img
      width: 100px
      height: 100px