.subscribe-form
  max-width: 65rem
  display: flex
  justify-content: center
  margin: 0 auto

  .with-error
    border-color: $color-primary

  .with-success
    border-color: $color-green

  .form-control
    width: 35rem

  .form-control + p
    text-align: left
    color: $color-primary

  .form-control + p.error-text
    color: $color-primary

  .form-control + p.success-text
    color: $color-green

  p
    font-family: 'Roboto', sans-serif
    font-size: 12px
    font-weight: 300
    color: $color-gray
    margin-top: 1rem

// Responsiveness

@media (max-width: 767px)
  .subscribe-form
    display: block!important

    .form-group
      margin-bottom: 1.5rem

    .btn-primary
      width: 100%!important

    .form-control
      width: 100%!important
      margin-right: 0!important