h1, h2, h3, h4, p
  margin: 0

body
  font-family: 'Roboto', sans-serif

.heading-primary
  margin: 3rem 0 3rem 0

  h1
    text-transform: uppercase
    font-family: 'Nunito', sans-serif
    font-size: 3rem
    font-weight: 800
    line-height: 1.47
    color: $color-black

  b
    font-weight: 800

  span
    display: block
    margin-top: .5rem
    text-transform: uppercase
    font-family: 'Roboto', sans-serif
    font-size: 2rem
    font-weight: 400
    line-height: 1.5
    color: $color-primary

  &--premium

    b
      color: $color-primary

    span
      color: $color-black

.heading-secondary
  margin-bottom: 2.5rem

  h2
    font-family: 'Nunito', sans-serif
    font-size: 4rem
    font-weight: 300
    line-height: 1.47
    color: $color-black

  b
    font-weight: 700

  span
    display: block
    margin-top: .5rem
    text-transform: capitalize
    font-family: 'Roboto', sans-serif
    font-size: 2rem
    font-weight: 400
    line-height: 1.5
    color: $color-black

  .heading-decor
    text-transform: uppercase
    font-family: 'Nunito', sans-serif
    font-size: $font-size-default
    font-weight: 400
    line-height: 1.57
    color: $color-primary

  &--bold
    h2
      font-weight: 700

  &--extra-bold
    h2
      font-weight: 800

.heading-tertiary
  margin: 0 auto

  &:last-child
    margin-bottom: 3rem!important

  h3
    font-family: 'Roboto', sans-serif
    font-size: 1.8rem
    font-weight: 500
    line-height: 1.56
    color: $color-black

    .plus
      color: $color-primary
      margin-right: 5px

.heading-non-auth
  font-family: 'Nunito', sans-serif
  font-size: 3rem
  margin: 8rem auto 8rem auto

  h3
    font-size: 2.5rem
    font-weight: 700
    line-height: 3.3rem
    color: $color-black

.heading-plan
  color: $color-gray
  font-size: $font-size-default
  text-align: right
  margin-bottom: 2rem


// Responsiveness

@media (max-width: 767px)
  .heading-primary
    margin: 3rem 0 3rem 0!important

    h1
      font-size: 3.5rem!important

    span
      font-size: 2.5rem!important

  .heading-secondary
    margin-bottom: 1.5rem!important
    h2
      font-size: 3rem!important
