.email-confirmation
  margin: 8rem auto 0
  min-height: calc(100vh - 194px - 13rem)

  .heading-tertiary
    max-width: 400px
    margin-bottom: 3rem!important

  form
    max-width: 400px
    margin: 0 auto

  .btn-cta
    margin-top: 0

  .alert
    text-align: left

// Responsiveness

@media (max-width: 767px)
  .email-confirmation
    margin: 3rem auto 8rem auto
    min-height: 0

    .heading-tertiary
      text-align: left